.AppLink {
    color: var(--primary-color);
    transition: opacity 0.5s ease;

    &:hover {
        opacity: 0.8;
    }
}

.primary {
    color: var(--primary-color);
}

.inverted {
    color: var(--inverted-primary-color);
}

.red {
    color: red;
}
